h1,
h2,
h3,
h4,
h5,
a,
button,
input {
	font-family: "Source Code Pro", monospace, "Courier New";
}

.ant-dropdown-menu {
	font-family: "Source Code Pro", monospace, "Courier New";
}

.ant-layout-content {
	padding-top: 16px;
}

.markdown-content a {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
