h1,
h2,
h3,
h4,
h5,
a,
button,
input {
	font-family: "Source Code Pro", monospace, "Courier New";
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
	margin-top: 1em;
}

.ant-dropdown-menu {
	font-family: "Source Code Pro", monospace, "Courier New";
}

.ant-layout-content {
	padding-top: 16px;
}

.markdown-content a {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
