.filter {
	margin: 1rem 0;
}
.filter .ant-btn:hover,
.filter .ant-btn:focus {
	color: black;
	border-color: black;
}

.filter .ant-select:not(.ant-select-customize-input) .ant-select-selector {
	background-color: #fff; /* for some reason it's a weird grey by default */
}

.filter .ant-select-selection-placeholder,
.filter .ant-select-arrow {
	color: rgba(0, 0, 0, 0.85);
}
