.ant-table a {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	color: rgba(0, 0, 0, 0.85);
	text-decoration: none;
}

.ant-table td.repo,
.ant-table td.repo a {
	color: #5087bc;
}

.ant-table .table-row {
	display: table-row;
}

.ant-table .table-row td {
	padding: 12px 8px;
}

.ant-table .table-row:hover {
	transition-duration: 200ms;
	transition-property: background-color;
	background-color: rgba(255, 255, 255, 0.5);
}

.ant-table-wrapper::-webkit-scrollbar {
	display: none;
}

.ant-table-wrapper {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hardware-table__footer {
	display: flex;
	margin-top: 1rem;
	font-family: "Source Code Pro", monospace, "Courier New";
}

.ant-pagination {
	margin-right: 1rem;
}

.ant-pagination li button.ant-pagination-item-link,
.ant-pagination li a {
	background-color: white;
}

.ant-pagination
	.ant-select:not(.ant-select-customize-input)
	.ant-select-selector {
	background-color: white;
}

.hardware-table__footer .ant-btn:active,
.hardware-table__footer .ant-btn:focus {
	color: rgba(0, 0, 0, 0.85);
	border-color: rgba(0, 0, 0, 0.85);
}
