h1,
h2,
h3,
h4,
h5,
a,
button,
input {
	font-family: "Source Code Pro", monospace, "Courier New";
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
	margin-top: 1em;
}

.ant-dropdown-menu,
.ant-select-item-option-content,
.ant-select-selection-placeholder,
.ant-select-selection-search-input,
.ant-select-selection-item {
	font-family: "Source Code Pro", monospace, "Courier New";
}

.ant-layout-content {
	padding-top: 16px;
}

.markdown-content a {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.ant-btn:hover {
	color: #46749f;
	border-color: #46749f;
}

.ant-btn-primary:hover {
	background-color: #6eb2f3;
	border-color: #0f4a83;
}
.ant-btn-primary:disabled {
	background-color: #ededed;
	color: #bfbfbf;
	border-color: #bfbfbf;
}
